---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
<head>
  <BaseHead title="About" description="About me"/>
</head>
<body>
<Header/>
<div class="prose p-4">
  <h1 class="text-3xl font-bold">About</h1>
  <p class="max-w-xl">
    Hi, I'm a software engineer/technical writer at Jane Street. I like
    developer tools, programming languages, and movies. I'm also a pretty avid
    cook. Reach out to me at nick @ nicholasyang.com
  </p>
</div>
</body>
</html>
