---
import HeaderLink from "./HeaderLink.astro";
import "../styles/global.css";
---

<header class="p-4">
  <nav>
    <div class="space-x-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
