---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
---

<header class="p-4">
  <nav>
    <div>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
